<h1>Stupid coaching</h1>

<div class="quote-group">

  <%= @question %>
  <br>
  <span class="author">– You</span>
</div>


<div class="quote-group">

  <%= @coach_answer %>
  <br>
  <span class="author">– Your coach</span>
</div>

<%= link_to "Ask another question", ask_path %>
